	<!-- Site banner -->
	<div class="banner">
		<div class="container">
			<h1>MEA <em id = "size">[em-e-ay]</em></h1>
			<p><em>noun</em><br>
				"{{tagline}}"</p>
			</div>
		</div>

		<div class="middle" id = "second">
			<div class="container">
				<div class="col-lg-12 heading">
					<h1>About Us</h1>
				</div>
				<div class = "row">
					<div class = "col-md-12">
						<div class = "col-md-6">
							<div class = "col-md-12">
								<h3>Who Are We?</h3>
								<ul class = "list">
									<li>{{list1a}}</li>
									<li>{{list1b}}</li>
									<ul>
										<li>{{sub1a}}</li>
										<li>{{sub1b}}</li>
										<li>{{sub1c}}</li>
										<li>{{sub1d}}</li>
									</ul>
								</ul> 
							</div> 
						</div>
						<div class = "col-md-6">
							<div class = "col-md-12">
								<h3>How We Can Help YOU!</h3>
								<ul class = "list">
									<li>{{list2a}}</li>
									<li>{{list2b}}</li>
									<li>{{list2c}}</li>
									<li>{{list2d}}</li>
								</ul>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "middle" id = "third">
			<div class="container">
				<div class = "col-lg-12 heading">
					<h1>Get Involved</h1>
				</div>

				<div class = "row">
					<div class = "col-md-12">
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href="/getinvolved"><h3>Join Our Mailing List</h3></a>
								<ul class = "list">
									<li>{{list3a}}</li>
									<li>{{list3b}}</li>
								</ul> 
							</div> 
						</div>
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href="/getinvolved"><h3>Advertise your organization with us!</h3></a>
								<ul class = "list">
									<li>{{list4a}}</li>
								</ul>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row bottom">
			<div class="container">
				<div class="col-lg-12">
					<h2>Connect With Us</h2><br>
				</div>
				<div class = "row" id = "icons">
					<a href = "{{twitter}}" target="_blank" id = "space"><i class="fa fa-twitter fa-3x"></i></a>
					<a href="{{facebook}}" target="_blank" id = "space"><i class="fa fa-facebook fa-3x"></i></a>
					<a href = "mailto:{{email}}" id = "space"><i class="fa fa-envelope fa-3x"></i></a>

				</div>

			</div>
		</div>