<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
   
   ga('create', 'UA-55208457-1', 'macentrepreneurship.ca/events');
   ga('send', 'pageview');
   
</script>
<!-- Site banner -->
<div class="banner">
   <div class="container">
      <h1>
         {{welcome}}
      </h1>
      <p>
         {{subHead}} 
      </p>
   </div>
</div>
<div class="middle" id = "second">
   <div class="container">
      <div class="col-lg-12 heading">
         <h1>
            {{upcoming}}
         </h1>
      </div>
      <div class = "row">
         <div class = "col-md-12">
            <div class = "col-md-4">

                              <div class = "col-md-12">
                  <div class = "col-md-12">
                     <i class="fa fa-university fa-6">
                     </i>
                     <h3 class="color">
                        {{Eventhead1}}
                     </h3>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent1}}<br>
                        {{subinfoEvent1}}<br>
                        {{timeEvent1}}
                     </p>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
                              <div class = "col-md-12">
                  <a href="https://www.eventbrite.ca/e/branding-your-business-tickets-15083994634" target = "_blank"><i class="fa fa-group fa-6"></i></a>
                  <h3 class="color">
                     <a href = "https://www.eventbrite.ca/e/branding-your-business-tickets-15083994634" target = "_blank">{{Eventhead2}}</a>
                  </h3>
                  <p>
                     {{infoEvent2}}<br>
                     {{subinfoEvent2}}<br>
                     {{timeEvent2}}
                  </p>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
      

               <div class = "col-md-12">
                         <i class="fa fa-twitter fa-6">
                         </i>
                         <h3 class="color">
                            {{Eventhead3}}
                         </h3>
                         <p>
                            <!--{{subEventhead2}}<br>-->
                            {{infoEvent3}}<br>
                            {{subinfoEvent3}}<br>
                            {{timeEvent3}}
                         </p>
                      </div>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
                  <div class = "col-md-12">
                     <i class="fa fa-line-chart fa-6">
                     </i>
                     <h3 class="color">
                        {{Eventhead4}}
                     </h3>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent4}}<br>
                        {{subinfoEvent4}}<br>
                        {{timeEvent4}}
                     </p>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
                  <div class = "col-md-12">
                     <i class="fa fa-dollar fa-6">
                     </i>
                     <h3 class="color">
                        {{Eventhead5}}
                     </h3>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent5}}<br>
                        {{subinfoEvent5}}<br>
                        {{timeEvent5}}
                     </p>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
                  <div class = "col-md-12">
                     <i class="fa fa-wordpress fa-6">
                     </i>
                     <h3 class="color">
                        {{Eventhead6}}
                     </h3>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent6}}<br>
                        {{subinfoEvent6}}<br>
                        {{timeEvent6}}
                     </p>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
                  <div class = "col-md-12">
                     <i class="fa fa-cutlery fa-6">
                     </i>
                     <h3 class="color">
                        {{Eventhead7}}
                     </h3>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent7}}<br>
                        {{subinfoEvent7}}<br>
                        {{timeEvent7}}
                     </p>
                  </div>
               </div>
            </div>
            <div class = "col-md-4">
               <div class = "col-md-12">
                          <!--link to events again?-->
                  <div class = "col-md-12">
                     <a href = "https://docs.google.com/a/mcmaster.ca/forms/d/1_EanltTxb3NWwAoc08nDsw6FBmne2dB8gmHyMTxX0NI/viewform"><i class="fa fa-coffee fa-6">
                     </i></a>
                     <h3 class="color">
                        <a href="https://docs.google.com/a/mcmaster.ca/forms/d/1_EanltTxb3NWwAoc08nDsw6FBmne2dB8gmHyMTxX0NI/viewform"> {{Eventhead8}}
                     </h3>
                     </a>
                     <p>
                        <!--{{subEventhead2}}<br>-->
                        {{infoEvent8}}<br>
                        {{subinfoEvent8}}<br>
                        {{timeEvent8}}
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="middle" id = "third">
   <div class="container">
      <div class="col-lg-12 heading">
         <h1>
            {{past}}
         </h1>
      </div>
      <div class="row">
         <div class = "col-md-12">
            <div id="events" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#events" data-slide-to="0" class="active">
                  </li>
                  <li data-target="#events" data-slide-to="1">
                  </li>
                  <li data-target="#events" data-slide-to="2">
                  </li>
                  <li data-target="#events" data-slide-to="3">
                  </li>
                  <li data-target="#events" data-slide-to="4">
                  </li>
                  <li data-target="#events" data-slide-to="5">
                  </li>
                  <!--      <li data-target="#events" data-slide-to="6">
                     </li> -->
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img class = "slide_pic" src="../assets/photos/sbec2.jpg" alt="Event picture">
                     <div class="carousel-caption">
                        SBEC Talk 2014
                     </div>
                  </div>
                  <div class="item">
                     <img class = "slide_pic" src="../assets/photos/competition-2.jpg" alt="Event picture">
                     <div class="carousel-caption">
                        Case Competition 2014
                     </div>
                  </div>
                  <div class="item">
                     <img class = "slide_pic" src="../assets/photos/competition-3.jpg" alt="Event picture">
                     <div class="carousel-caption">
                        Case Competition 2014
                     </div>
                  </div>
                  <div class="item">
                     <img class = "slide_pic" src="../assets/photos/workshops.png" alt="Event picture">
                     <div class="carousel-caption">
                        Workshops
                     </div>
                  </div>
                  <div class="item">
                     <img class = "slide_pic" src="../assets/photos/innovation-night.png" alt="Event picture">
                     <div class="carousel-caption">
                        Innovation Night
                     </div>
                  </div>
                  <div class="item">
                     <img class = "slide_pic" src="../assets/photos/lionslair.jpg" alt="Event picture">
                     <div class="carousel-caption">
                        Lions Lair 2014
                     </div>
                  </div>
               </div>
               <!-- Controls -->
               <a class="left carousel-control" href="#events" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left">
               </span>
               </a>
               <a class="right carousel-control" href="#events" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right">
               </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Site footer -->
<div class="row bottom">
   <div class="container">
      <div class="col-lg-12">
         <h2>
            {{connect}}
         </h2>
         <br>
      </div>
      <div class = "row" id = "icons">
         <a href = "https://twitter.com/McMasterEntreps" target="_blank" id = "space">
         <i class="fa fa-twitter fa-3x">
         </i>
         </a>
         <a href="https://www.facebook.com/MacEntrepreneurship" target="_blank" id = "space">
         <i class="fa fa-facebook fa-3x">
         </i>
         </a>
         <a href = "mailto:mcmasterentrepreneurship@gmail.com" id = "space">
         <i class="fa fa-envelope fa-3x">
         </i>
         </a>
         <br>
      </div>
      <div class = "col-lg-12">
         <p class = "copyright"><i class="fa fa-copyright"></i> 2014 <a href = "http://www.macentrepreneurship.ca">McMaster Entrepreneurship Association</a> | Developed by <a href = "http://arkaganguli.me">Arka Ganguli</a></p>
      </div>
   </div>
</div>