	<!-- Site banner -->
	<div class="banner">
		<div class="container">
			<h1>{{welcome}}</h1>
			<p>{{subHead}} </p>
		</div>
	</div>
	<div class="middle" id = "whatweoffer">
		<div class="container">
			<div class="col-lg-12 heading">
				<h1>{{join}}</h1>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a href = "/about"><i class="fa fa-lightbulb-o fa-6"></i></a>
							<a href = "/about"><h3>{{head1}}</h3></a>
							<p>{{info1}}</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<!--link to events-->
							<a href = "#"><i class="fa fa-globe fa-6"></i></a>
							<a href = "#"><h3>{{head2}}</h3></a>
							<p>{{info2}}</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<!--link to events again?-->
							<a href = "#"><i class="fa fa-code fa-6"></i></a>
							<a href = "#"><h3>{{head3}}</h3></a>
							<p>{{info3}}</p>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Site footer -->
	<div class="row bottom">
		<div class="container">
			<div class="col-lg-12">
				<h2>{{connect}}</h2><br>
			</div>
			<div class = "row" id = "icons">
				<a href = "https://twitter.com/McMasterEntreps" target="_blank" id = "space"><i class="fa fa-twitter fa-3x"></i></a>
				<a href="https://www.facebook.com/MacEntrepreneurship" target="_blank" id = "space"><i class="fa fa-facebook fa-3x"></i></a>
				<a href = "mailto:someemail@gmail.com" id = "space"><i class="fa fa-envelope fa-3x"></i></a>

			</div>

		</div>
	</div>