<div class="banner">
	<div class="container">
		<h1>Stay Updated</h1>
		<p>{{subHead}}</p>
	</div>
</div>

<div class="middle" id = "third">
	<div class="container">
		<div class="col-lg-12 heading">
			<h1>Fill Out The Forms Below</h1>
		</div>
		<div class = "row">
			<div class = "col-md-12">
	            <div class = "google-form">
	               <iframe src="https://docs.google.com/a/mcmaster.ca/forms/d/1-xPorT5fboQoANS4WKjVDrigRb0Zr_foh-A6XlXuuRU/viewform?embedded=true" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="750" height ="392">Loading...</iframe>
	            </div>
		  	</div>
		</div>
	</div>
</div>

<div class="middle" id = "third">
	<div class="container">
		<div class = "row">
			<div class = "col-md-12">
	            <div class = "google-form">
	               <iframe src="https://docs.google.com/forms/d/1y4CT_ki6HOHobAQgGbutwEvw7hcLAZevr69atT9_sPw/viewform?embedded=true" frameborder="0" scrolling ="no" marginheight="0" marginwidth="0" width="750" height ="663">Loading...</iframe>
	            </div>
		  	</div>
		</div>
	</div>
</div>

<div class="row bottom">
	<div class="container">
		<div class="col-lg-12">
			<h2>Connect With Us</h2><br>
		</div>
		<div class = "row" id = "icons">
			<a href = "{{twitter}}" target="_blank" id = "space"><i class="fa fa-twitter fa-3x"></i></a>
			<a href="{{facebook}}" target="_blank" id = "space"><i class="fa fa-facebook fa-3x"></i></a>
			<a href = "mailto:{{email}}" id = "space"><i class="fa fa-envelope fa-3x"></i></a>
		</div>
	</div>
</div>