	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55208457-1', 'macentrepreneurship.ca');
	  ga('send', 'pageview');
	</script>	
	<!-- Site banner -->
	<div class="banner">
		<div class="container">
			<h1>{{welcome}}</h1>
			<p>{{subHead}} </p>
		</div>
	</div>
	<div class = "middle" id = "third">
		<div class="container">

			<div class = "col-lg-12 heading">
				<h1>We're Hiring! Apply today to join the 2015/2016 executive team!</h1>
				<a href = "https://docs.google.com/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><u><h3>Positions Available - Click here to Apply!</h3></u></a>
				<h5 id = "deadline">Deadline to apply: March 1st 2015, 11:59pm</h5>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a class = "color" href = "https://docs.google.com/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><h3>Co-President</h3></a>
								<ul class = "list">
									<li>{{Pres0}}</li>
									<li>{{Pres1}}</li>
									<li>{{Pres2}}</li>
									<li>{{Pres3}}</li>
									<li>{{Pres4}}</li>
									<li>{{Pres5}}</li>
									<li>{{Pres6}}</li>
									<li>{{Pres7}}</li>
									<li>{{Pres8}}</li>
									<li>{{Pres9}}</li>
								</ul>
						</div> 
					</div>
<!-- 					<div class = "col-md-4">
						<div class = "col-md-12">
								<a class = "color" href = "https://docs.google.com/a/mcmaster.ca/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><h3>Vice-President</h3></a>
								<ul class = "list">
									<li>{{VP1}}</li>
									<li>{{VP2}}</li>
									<li>{{VP3}}</li>
									<li>{{VP4}}</li>
									<li>{{VP5}}</li>
								</ul>
						</div> 
					</div> -->
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a class = "color" href = "https://docs.google.com/a/mcmaster.ca/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><h3>Vice-President of Finance</h3></a>
								<ul class = "list">
									<li>{{Finance1}}</li>
									<li>{{Finance2}}</li>
									<li>{{Finance3}}</li>
									<li>{{Finance4}}</li>
									<li>{{Finance5}}</li>
								</ul>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a class = "color" href = "https://docs.google.com/a/mcmaster.ca/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><h3>Vice-President of Communications & Marketing</h3></a>
								<ul class = "list">
									<li>{{Marketing1}}</li>
									<li>{{Marketing2}}</li>
									<li>{{Marketing3}}</li>
									<li>{{Marketing4}}</li>
									<li>{{Marketing5}}</li>
									<li>{{Marketing6}}</li>
									<li>{{Marketing7}}</li>
								</ul>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a class = "color" href = "https://docs.google.com/a/mcmaster.ca/forms/d/1LXzNVkg6JIYUsDF_KN69jo_wvhRolYtjnb-XQGC0P60/viewform?usp=send_form" target = "_blank"><h3>Vice-President Technical</h3></a>
								<ul class = "list">
									<li>{{Tech1}}</li>
									<li>{{Tech2}}</li>
									<li>{{Tech3}}</li>
									<li>{{Tech4}}</li>
								</ul>
						</div> 
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="middle" id = "second">
		<div class="container">
			<div class="col-lg-12 heading">
				<h1>{{join}}</h1>
			</div>
			<div class = "row">
				<div class = "col-md-12">
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a href = "/about"><i class="fa fa-lightbulb-o fa-6"></i></a>
							<a class = "color" href = "/about"><h3>{{head1}}</h3></a>
							<p>{{info1}}</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a href = "/events"><i class="fa fa-globe fa-6"></i></a>
							<a class = "color" href = "/events"><h3>{{head2}}</h3></a>
							<p>{{info2}}</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<a href = "/events"><i class="fa fa-code fa-6"></i></a>
							<a class = "color" href = "/events"><h3>{{head3}}</h3></a>
							<p>{{info3}}</p>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "middle" id = "third">
			<div class="container">
				<div class = "col-lg-12 heading">
					<h1>Get Involved</h1>
				</div>

				<div class = "row">
					<div class = "col-md-12">
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href="https://docs.google.com/forms/d/1-xPorT5fboQoANS4WKjVDrigRb0Zr_foh-A6XlXuuRU/viewform?usp=send_form" class = "orange-title" target = "_blank"><h3>Join Our Mailing List</h3></a>
								<ul class = "list">
									<li>{{list3a}}</li>
									<li>{{list3b}}</li>
									<li>{{list3c}}</li>
									<li>{{list3d}}</li>
									<li><a href="https://docs.google.com/forms/d/1-xPorT5fboQoANS4WKjVDrigRb0Zr_foh-A6XlXuuRU/viewform?usp=send_form" target = "_blank">{{list4b}}</a></li>
								</ul> 
							</div> 
						</div>
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href="https://docs.google.com/forms/d/1y4CT_ki6HOHobAQgGbutwEvw7hcLAZevr69atT9_sPw/viewform?usp=send_form" class = "orange-title" target = "_blank"><h3>Advertise your organization with us!</h3></a>
								<ul class = "list">
									<li>{{list4a}}</li>
									<li>{{list4c}}</li>
									<li>{{list4d}}</li>
									<li><a href="https://docs.google.com/forms/d/1y4CT_ki6HOHobAQgGbutwEvw7hcLAZevr69atT9_sPw/viewform?usp=send_form" target = "_blank">{{list4b}}</a></li>
								</ul>
							</div> 
						</div>
					</div>
				</div>
			</div>
	</div>
		<div class = "middle" id = "second">
			<div class="container">
				<div class = "col-lg-12 heading">
					<h1>Partners</h1>
				</div>
				<div class = "row">
					<div class = "col-md-12">
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href = "http://spectrum.mcmaster.ca/" target = "_blank"><img src = "assets/logos/spectrum.png" class="partners-logo"/></a>
								<a href = "http://spectrum.mcmaster.ca/" target = "_blank"><p>Spectrum</p></a>
							</div> 
						</div>
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href = "https://www.facebook.com/macsocialspark" target = "_blank"><img src = "assets/logos/spark.png" class="partners-logo"/></a>
								<a href = "https://www.facebook.com/macsocialspark" target = "_blank"><p>Social Spark</p></a>
							</div> 
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class = "middle" id = "third">
			<div class="container">
				<div class = "col-lg-12 heading">
					<h1>Sponsors</h1>
				</div>

				<div class = "row">
					<div class = "col-md-12">
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href = "http://174.129.201.53/" target = "_blank"><img src = "assets/logos/Forge-01.png" class="sponsors-logo"/></a>
								<a href = "http://174.129.201.53/" target = "_blank"><p>The Forge</p></a>
							</div> 
						</div>
						<div class = "col-md-6">
							<div class = "col-md-12">
								<a href = "http://msep.mcmaster.ca/" target = "_blank"><img src = "assets/logos/Wbooth-01.png" class="sponsors-logo"/></a>
								<a href = "http://msep.mcmaster.ca/" target = "_blank"><p>Walter G. Booth School of Engineering Practice</p></a>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Site footer -->
	<div class="row bottom">
		<div class="container">
			<div class="col-lg-12">
				<h2>{{connect}}</h2><br>
			</div>
			<div class = "row" id = "icons">
				<a href = "{{twitter}}" target="_blank" id = "space"><i class="fa fa-twitter fa-3x"></i></a>
				<a href="{{facebook}}" target="_blank" id = "space"><i class="fa fa-facebook fa-3x"></i></a>
				<a href = "mailto:{{email}}" id = "space"><i class="fa fa-envelope fa-3x"></i></a>
			</div>
			<div class = "col-lg-12">
				<p class = "copyright"><i class="fa fa-copyright"></i> 2014 <a href = "http://www.macentrepreneurship.ca">McMaster Entrepreneurship Association</a> | Developed by <a href = "http://arkaganguli.me">Arka Ganguli</a></p>
			</div>
		</div>
	</div>