.carousel .carousel-control{
	opacity:0.8 !important;
	color: #FF530D !important;
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: 0.5 !important;
}

.carousel-control.left {
	background-image:none !important;
}
.carousel-control.right {
	background-image:none !important;
}

.color{
	color:#FF530D;
}

.carousel-inner { 
	text-align: center; 
}

.carousel .item > img { 
	display: inline-block; 
	border: solid 5px;
}